body {
  padding-top: 40px;
  padding-bottom: 140px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 140px;
}

.panel-footer{
    height:55px;
}

.welcome {
  font-size: 18px;
  display: inline;
  padding: 54px;
}
